:root {
  --background: #fff;
  --texto-1: #111;
  --texto-2: #444;
}

@media (prefers-color-scheme: Dark) {
  :root {
    --background: #222;
    --texto-1: #eee;
    --texto-2: #bbb;
  }
}

body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  color: #141414;
  margin: 0px;
  font-size: 110%;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 8rem;
  line-height: 1;
}
